[Unit]
Description=Backup home using restic
[Service]
Type=oneshot
ExecStartPre=/usr/bin/python3 %h/.local/bin/restic-excludes-compile.py \
            --output=%h/.config/restic/excludes \
            %h/.config/restic/excludes.json
ExecStart=/snap/bin/restic \
         backup \
         --tag=${TAG} \
         --exclude-if-present=.resticignore \
         --exclude-file=%h/.config/restic/excludes \
         --exclude=%h/Documents/ \
         --verbose \
         %h/${BACKUP_DIRECTORY}
ExecStartPost=/snap/bin/restic \
              forget \
              --tag=${TAG} \
              --keep-hourly=${KEEP_HOURLY} \
              --keep-daily=${KEEP_DAILY} \
              --keep-weekly=${KEEP_WEEKLY} \
              --keep-monthly=${KEEP_MONTHLY} \
              --keep-yearly=${KEEP_YEARLY} \
              --verbose
EnvironmentFile=%h/.config/restic/secrets
EnvironmentFile=%h/.config/restic/config-home
