[global]
password-file = "password.txt"
force-inactive-lock = true

[global.backup]
exclude-file = "excludes.txt"
exclude-if-present = ".resticignore"
schedule-permission = "user"
schedule-lock-wait = "2h"
run-before = "{{ .chezmoi.homeDir }}/bin/restic-excludes-compile --output={{ .chezmoi.homeDir }}/.config/resticprofile/excludes.txt {{ .chezmoi.homeDir }}/.config/resticprofile/excludes.json"

[global.retention]
before-backup = false
after-backup = true
prune = true

# Home
[home]
inherit = "global"

[home.backup]
source = ["{{ .chezmoi.homeDir }}"]
schedule = "daily"
exclude = ["{{ .chezmoi.homeDir }}/Documents/"]
tag = ["home"]

[home.retention]
keep-daily = 7
keep-weekly = 4
keep-monthly = 12
keep-yearly = 999
tag = ["home"]

# Documents
[documents]
inherit = "global"

[documents.backup]
source = ["{{ .chezmoi.homeDir }}/Documents/"]
tag = ["documents"]
schedule = "hourly"

[documents.retention]
keep-hourly = 24
keep-daily = 14
keep-weekly = 4
keep-monthly = 12
keep-yearly = 999
tag = ["documents"]

# Final profiles
[home-local]
inherit = "home"
repository = "/media/{{ .chezmoi.username }}/caddy/{{ .chezmoi.hostname }}/home/"

[home-remote]
inherit = "home"
repository = "{{ .chezmoi.homeDir }}/pCloudDrive/restic/{{ .chezmoi.hostname }}/home/"

[documents-local]
inherit = "documents"
repository = "/media/{{ .chezmoi.username }}/caddy/{{ .chezmoi.hostname }}/documents/"

[documents-remote]
inherit = "documents"
repository = "{{ .chezmoi.homeDir }}/pCloudDrive/restic/{{ .chezmoi.hostname }}/documents/"
